
.createwrap{
	width:100%;
}

.createwrap nav{
	height:64px;
	background: #fff;
	border:1px solid #e7e7e7;
	
}
.createwrap nav ul{
	width:1230px;
	margin:0 auto;
}


.createwrap nav li{
	font-size:16px;
	text-align: center;
	width:120px;
	margin-right:25px;
	float:left;
	height:64px;
	line-height: 64px;
	color:#666;
}
.createwrap nav .navActive{
	height:63px;
	border-bottom:2px solid #278fcf;
	color:#000;
}
.create{
	width:1190px;
	margin:0 auto;
}
.create article{
	height:auto;
	padding-top:30px;
}

.create .createleft{
	width:850px;
}
.create .createright{
	width:280px;
}
.create .createleft dl{
	width:850px;
	height:180px;
	padding-bottom:20px;
}
.createleft dt{
	width:280px;
	height:180px;
}
.createleft dt img{
	width:280px;
	height:180px;
}

.createleft dd{
	width:539px;
	height:148px;
	padding:15px;
	border:1px solid #E7E7E7;
	border-left:none;
	background: #fff;
	position: relative;
}
.createleft dd h3{
	
}
.createleft dd h3 a{
	font-size:20px;
	color:#333;
}
.createleft dd .content{
	padding-top:20px;
	font-size:14px;
	color:#666;
	font-size:13px;
}
.createleft dd .time{
	color:#666;
	font-size:13px;
	position: absolute;
	bottom: 15px;
}

/*右侧*/
.createright h3{
	/*height:36px;*/
	font-size:18px;
	color:#333;
	padding-bottom: 20px;
	font-weight: normal;
}

.createright dl{
	background: #fff;
	margin-bottom:20px;
}
.createright dt{
	width:280px;
	height:180px;
}
.createright dt img{
	width:280px;
	height:180px;
}
.createright dd h4{

	font-size:14px;
	color:#333;
	padding:10px;
}
.createright dd p{
	font-size:13px;
	color:#333;
	padding:0 10px 20px;
}
.createright dd p .left{
	color:#010101;
} 
.createright dd p .right{
	width:40px;
	height:18px;
	line-height: 18px;
	text-align: center;
	color:#65b8ea;
	border:1px solid #65B8EA;
	border-radius: 5px;
} 
/*内容底部*/
.createbottom{
	height:76px;
	margin-top:68px;
	
}
.createbottom ul{
	width:550px;
	height:40px;
	margin:0 auto;
}
.createbottom li{
	text-align: center;
	line-height: 40px;
	margin-left:10px;
	font-size:12px;
}
.createbottom .first,.last{
	width:70px;
	height:40px;
	background:#F2F2F2;
}
.createbottom .previous,.next{
	width:90px;
	height:40px;
	background:#F2F2F2;
}
.createbottom .pageone,.pagetwo,.pagethree{
	width:40px;
	height:40px;
	background:#ccc;
}
.createbottom .pageone{
	background:#666;
	color:#ccc;
}