
/*.coursewrap,.companywrap{
	width:100%;
}*/
body{
	background: #f5f5f5;
}
/*头部*/
header{
	height:180px;
	width:100%;
	background:red;
}
header .head{
	width:1340px;
	margin:0 auto;
	background:blue;
}
header .logo{
	height:105px;
	width:250px;
	padding-top:15px;
}
header .logo h2{
	width:140px;
	text-align: center;
	height:90px;
	line-height: 90px;
}
header .headcenter{
	width:780px;
	height:120px;
}
header .headcenter .headinput{
	height:40px;
	width:580px;
	padding-top:30px;
	padding-left:120px;
}
header .headcenter .headinput input{
	box-sizing: border-box;
	border:none;
	height:40px;
	width:500px;
	line-height:40px;
	text-indent:1em;
}
header .headcenter .headinput .headsearch{
	height:40px;
	width:80px;
	background:blue;
	line-height: 40px;
	text-align: center;
}
header .headright{
	width:170px;
	height:80px;
	padding-top:40px;
}
header .headlist{
	padding-left:120px;
	height:40px;
}
header .headlist li{
	float:left;
	padding:0 15px;
	line-height: 40px;
	height:40px;
	font-size:12px;
}
header .headright input{
	background:#aaa;
	border:none;
	height:34px;
	width:174px;
	line-height: 34px;
	text-align: center;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
	position:relative; 
	z-index:2; 
	behavior: url(ie-css3.htc);
	
}
header .headright .logincompany{
	padding-top:15px;
}

header nav{
	height:60px;
	width:600px;
	margin:0 auto;
	line-height: 60px;
}
header nav li{
	float:left;
	padding:0 20px;
}

/*banner*/
.bannerwrap{
	/*height:350px;*/
	width:100%;
	background:#fff;
	clear: both;
}
.banner {
  width:100%;
  height: 450px;
  background: #111;
  margin: 5px auto;
  position: relative;
}
.banner .swiper-container {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
}
.banner .swiper-container img{
	width:100%;height:100%;
}
.banner .pagination {
  position: absolute;
  z-index: 20;
  right: 30px;
  bottom: 10px;
}
.banner .swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
  
}
.banner .swiper-visible-switch {
  background: #aaa;
}
.banner .swiper-active-switch {
  background: #fff;
}
.banner .arrow-left {
  z-index: 10;
  background: url(../img/arrows.png) no-repeat left top;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
}
.banner .arrow-right {
  z-index: 10;
  background: url(../img/arrows.png) no-repeat left bottom;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
}
/*课程*/
.coursewrap{width: 100%;clear: both;}
.course-hot,.course-job,.course-create,.news{width: 1180px;margin: 0 auto;padding: 0 5px;}
.Title{width: 1180px;height: 60px;margin: 0 auto;}
.Title h3{font-size: 26px;font-weight: normal;color: #333;padding-top:24px;float: left;}
.course-hot .Title{width: 1180px;height: 78px;margin: 0 auto;}
.course-hot .Title h3{font-size: 26px;font-weight: normal;color: #343434;padding-top:43px;float: left;}
.coursewrap .more{padding-top:55px;font-size:14px;color:#999;}


.CourseClass{width:1060px;height: 56px;border-bottom: 1px solid #c4c4c4;float: right;}
.course-hot .CourseClass{width:1060px;height: 78px;border-bottom: 1px solid #c4c4c4;float: right;}
.CourseClass p{float: right;color: #333;font-size: 14px;margin:52px 12px 0 0;}
.CourseClass ul{height:56px;}
.CourseClass ul li{/*width: 80px;*/height: 34px;float: right;text-align: center;line-height: 34px;margin-top:22px;margin-left: 20px;}
.CourseClass ul li a{color: #999;font-size: 14px;}
.CourseClass ul .CourseClass_active{border-bottom: 2px solid #72aed2;}
.CourseClass ul .CourseClass_active a{color: #72aed2;}
/*课程搜索*/
.search{width: 100%;height: 180px;background: #3c99d4;}
.search_contenr{width: 1180px;margin: 0 auto;height: 100%;position: relative;}
.search_tel{width: 500px;height: 38px;color: #333;font-size: 16px;position: absolute;left: 292px;top: 70px;text-indent: 10px;} 
.search_btn{width: 100px;height: 40px;color: #fff;font-size: 16px;background: #87c92b;position: absolute;left: 792px;top: 70px;} 

/*课程列表*/
.contenr_list{width: 100%;margin-bottom:22px;height: 270px;}
.contenr_list_a{width: 280px;height: 270px;float: left;background: #fff;margin-right:20px;box-shadow: 0px 5px 10px rgba(66, 66, 66, .2);}
.contenr_list_active{margin:30px 0 22px 0;}
.contert_list_last{margin:0;}
.contenr_list_b{width: 278px;height: 89px;border-bottom: 1px solid #e6e6e6;
border-left: 1px solid #e6e6e6;border-right: 1px solid #e6e6e6;background: #fff;}
.contenr_list_a img{width: 100%;height: 180px;cursor:pointer;}
.contenr_list_a p{font-size: 14px;color: #323232;padding:10px 10px 6px 14px ;cursor: pointer;}
.contenr_list_a span{font-size: 14px;color: #323232;padding-left:14px;}
.contenr_list_b input{width: 40px;height: 18px;-moz-border-radius: 3px;-webkit-border-radius: 3px; border-radius: 3px;behavior:url(../js/PIE.htc);
border: 1px solid #66b8ea;background: #fff;font-size: 12px;color: #66b8ea;margin-left: 168px;}


/*企业招聘*/
.recruit{width: 1180px;margin: 0 auto;padding: 0 5px;}
.recruit .contenr{
	margin-top:30px;
}
.recruit .more{
	margin-top:32px;
}
.recruit li{
	background:#fff;
	width:578px;
	height:138px;
	border:1px solid #d3d6db;
	float:left;
	margin-bottom:20px;
	box-shadow: 0px 5px 10px rgba(66, 66, 66, .2)

}
.recruit li:nth-child(even){
	margin-left:20px;
}
.recruit b{
	font-size:18px;
	color: #3ab3e6;
}
.recruit span{
	font-size:14px;
	color: #666;
}
.recruit .top{
	height:24px;
	padding:20px 20px 0px;
}
.recruit .top .time{
	margin-left:12px;
}
.recruit .center{
	height:48px;
	line-height: 48px;
	padding:0px 20px;
}
.recruit .center .years{
	margin-left:34px;
}
.recruit .center i{
	font-style: normal;
	color:#e76d84;
}
.recruit .bottom{
	height:46px;
	line-height: 46px;
	background:#dfdfe7;
	padding:0px 20px;
}
.recruit .bottom i{
	font-style: normal;
	color:#666666;
	font-size:14px;
	padding-right:8px;
}
.news .more{
	margin-top:32px;
	font-size:14px;
	color:#999;
}
.news .contenr_list_b .from{
	font-size: 14px;
	color: #66b8ea;
	padding-right:15px;
}
/*合作单位*/
.team .more{
	margin-top:32px;
	font-size:14px;
	color:#999;
}
.team .contenr{
	margin:0 auto;
	width:1010px;
	padding:70px 60px;
}
.team .contenr li{
	width:108px;
	height:60px;
	float:left;
	padding:30px;
}
.team .contenr li img{
	width:100%;
	height:100%;
}

