

.recruitDetailwrap{
	width:100%;
}
.recruitDetail{
	width:1200px;
	margin:0 auto;
	margin-bottom: 45px;
}
.recruitDetail nav .crumbsnav{
	height:50px;
	line-height: 45px;
}
.recruitDetail nav .crumbsnav i{
	font-style: normal;
	padding:0 10px;
	font-weight: bold;
}
.recruitDetail nav dl{
	padding-left:32px;
	height:120px;
	background: #F2F2F2;
}
.recruitDetail nav dt{
	width:450px;
}
.recruitDetail nav dt h2{
	height:40px;
	padding-top:30px;
	font-size:22px;
	color:#333;
	font-weight:500;
}
.recruitDetail nav dt p{
	font-size:14px;
	color:#666;
}
.recruitDetail nav dt p span:last-child{
	padding:0 15px;
}
.recruitDetail nav dd{
	height:120px;
	line-height: 120px;
	color:#0099FF;
	font-size:20px;
}
.recruitDetail article dl{
	margin-top:24px;

}

.recruitDetail article dt{
	padding-left:20px;
	height:44px;
	background: #D7D7D7;
	line-height: 44px;
}
.recruitDetail article dd{
	padding-left:20px;
	background:#F2F2F2;
	padding-bottom: 30px;
	
}
.recruitDetail article dd p{
	width:700px;
	padding-top:20px;
	font-size:14px;
}
.recruitDetail article .detail dd p{
	width:840px;
}









