


.recruitwrap{
	width:100%;
}
.recruit{
	width:1190px;
	/*height:auto;*/
	margin: 0 auto;
}
/*上部内容*/
.recruittop{
	width:100%;
	height:270px;
	background: #3c99d3;
	color: #fff;
	padding-top:15px;
	font-size:13px;
}
.recruittop a{
	color:#fff;
}
.recruittop .right{
 	cursor: pointer;
}
.recruittop aside{
	width:1190px;
	margin:0 auto;
	height:24px;
	line-height:24px;
	padding-top: 15px;
}
.recruittop aside:last-child{
	height:40px;
	line-height: 40px;
}
.recruittop li{
	margin-right:40px;
}
.recruittop .all{
	width:50px;
	height:24px;
	background: #c8a12a;
	line-height:24px;
	text-align: center;
	margin:0 25px 0 50px;
}
.recruittop .company{
	line-height: normal;
	height:30px;
	line-height: 30px;
}
.recruittop .companyleft{
	height:30px;
	line-height: 30px;
}

.recruittop .search input{
	margin-left:50px;
	width:250px;
	height:28px;
	text-indent: 1em;
	background: #cedff3;
}
.companybottom{
	height:40px;
}
.recruittop .searchbutton input{
	text-align: center;
	line-height: 40px;
	width:150px;
	height:40px;
	background: #87c82a;
	margin-left:540px;
	color: #fff;
	font-size:16px;
}


/*中间内容*/
.recruit{width: 1190px;margin: 0 auto;}
.recruitcenter .contenr{
	margin-top:30px;
}
.recruitcenter .more{
	margin-top:32px;
}
.recruitcenter li{
	position: relative;
	background:#fff;
	width:1190px;
	height:138px;
	border:1px solid #d3d6db;
	margin-bottom:20px;
	box-shadow: 0px 5px 10px rgba(66, 66, 66, .2)

}
.recruitcenter li img{
	position: absolute;
	right:10px;
	top:10px;
}
.recruitcenter b{
	font-size:18px;
	color: #3ab3e6;
}
.recruitcenter span{
	font-size:14px;
	color: #666;
}
.recruitcenter .top{
	height:24px;
	padding:20px 20px 0px;
}
.recruitcenter .top .time{
	margin-left:12px;
}
.recruitcenter .center{
	height:48px;
	line-height: 48px;
	padding:0px 20px;
}
.recruitcenter .center .years{
	margin-left:34px;
}
.recruitcenter .center i{
	font-style: normal;
	color:#e76d84;
}
.recruitcenter .bottom{
	height:46px;
	line-height: 46px;
	background:#dfdfe7;
	padding:0px 20px;
}

.recruitcenter .bottom i{
	font-style: normal;
	color:#666666;
	font-size:14px;
	padding-right:8px;
}
/*内容底部*/
.recruitbottom{
	height:76px;
	margin-top:68px;
	
}
.recruitbottom ul{
	width:550px;
	height:40px;
	margin:0 auto;
}
.recruitbottom li{
	text-align: center;
	line-height: 40px;
	margin-left:10px;
	font-size:12px;
}
.recruitbottom .first,.last{
	width:70px;
	height:40px;
	background:#F2F2F2;
}
.recruitbottom .previous,.next{
	width:90px;
	height:40px;
	background:#F2F2F2;
}
.recruitbottom .pageone,.pagetwo,.pagethree{
	width:40px;
	height:40px;
	background:#ccc;
}
.recruitbottom .pageone{
	background:#666;
	color:#ccc;
}

